[2021-11-15 16:22] rdimartino commented on #354
+1 We're attempting to migrate from `sidekiq-cron` because of https://github.com/ondrejbartas/sidekiq-cron/issues/291 but we're also running into this same issue. Works locally, but does not work when deployed in a sidekiq container on Amazon ECS

[2021-11-15 16:42] marcelolx commented on #354
I'll try to simulate this tomorrow. If someone can provide me with an app that would make it easy to simulate the problem, I would be happy.

[2021-11-16 16:34] rdimartino commented on #354
@marcelolx I created this which reproduces the issue for me: https://github.com/rdimartino/sidekiq-options-repro The README has the build/running instructions but let me know if you have any issues.

Some observations from testing to recreate this issue:

 - the Rails env must be production.

 - the schedule must be set in a separate YAML file and added to Sidekiq as part of the initializer with `

[2021-11-17 11:00] marcelolx commented on #354
@justinweathersby @rdimartino I believe the problem to both of you is that you're not loading the schedule when the Sidekiq `startup` lifecycle event is dispatched as we suggest in the docs https://github.com/moove-it/sidekiq-scheduler#load-the-schedule-from-a-different-file

@rdimartino I made the following changes in the Sidekiq initializer and now I'm not seeing those errors

[code]

[2021-11-17 11:05] marcelolx commented on #354
@justinweathersby I believe that if you change your initializer to the following, it should work as well, sorry for the delay.

[code]

[2021-11-17 14:44] rdimartino commented on #354
@marcelolx Aha! Yes, thank you, that fixes the issue for us. Appreciate the help! I should've payed closer attention to the examples, but didn't notice that detail when migrating from `sidekiq-cron`. Sorry for the trouble and thanks again!

[2021-11-17 14:46] marcelolx commented on #354
Nice @rdimartino, you're welcome!

I'll close this issue, @justinweathersby if this doesn't fix your problem let me know.

[2021-11-17 14:46] #354 closed

[2021-12-31 17:30] georgeismike opened #356 "kimurai selenium throws error once scheduler is activated on docker"
Apologies if there is a better repo to report this. But I am starting here since everything works find until I add a schedule.

[code]

After the schedule runs I have to redo the docker build before I can get it working again.

Error I get
`Selenium::WebDriver::Error::UnknownError: Process unexpectedly closed with status 1`

log when the scheduler runs the job.
[code]

log when running from rails

[2022-01-01 16:44] georgeismike commented on #356
I think I tracked this back to a Memory or CPU issue once the scheduler starts running in my local docker.  Running it in AWS, I was able to add enough memory and CPU and couldn't reproduce the issue there.

[2022-01-04 11:15] marcelolx commented on #356
did you check how much memory your job is using when it runs?

[2022-02-10 12:34] andredurao opened #358 "New version with "Fix deprecated uses of Redis#pipelined""
Hi, guys. 1st I'd like to thanks for work and dedication.

I've noticed that you already fixed the redis pipelined warning messages in [this commit](https://github.com/moove-it/sidekiq-scheduler/commit/bc2eaf3d69d04420490e132f068c0a29e99599da)

Do you plan do release a new version including this fix?

[2022-02-10 13:04] marcelolx commented on #358
Hey @andredurao, we plan to release a fix once the fix for this issue is also made https://github.com/moove-it/sidekiq-scheduler/issues/345

I'm going to take some time this month to work on it. While this doesn't happen you can point in your gemfile to the main branch of this repo.

[2022-02-10 13:04] #358 closed, assigned to nobody

[2022-02-11 08:06] tianlu1677 opened #359 "When use aliyun redis cluster, raise all the keys that the script uses should be passed using the KEYS arrayr"
-ERR bad lua script for redis cluster, all the keys that the script uses should be passed using the KEYS array

[link](https://developer.aliyun.com/article/645851)

[2022-02-14 20:24] camiloabrilth1999 opened #360 "Use environment variables to pass as arguments in the sidekiq_scheduler file"
Hi, I would like to pass environment variables in the config/sidekiq_scheduler.yml file.
I have already tried with <%= ENV.fetch('NAME') %> and <%= ENV['NAME'] %> but they are received as strings.
Thanks!

[2022-02-14 20:35] marcelolx commented on #360
@camiloabrilth1999 Could you explain more what you're trying to achieve? Maybe with an example app?

What I can tell you is that the schedule config YML file is intended to have just defined the job you want to run and when you want to run it, not to run arbitrary Ruby code.

If your jobs needs to know a value of a given environment variable you can just read it in the job/worker itself.

[2022-02-14 21:10] camiloabrilth1999 commented on #360
I already solved it @marcelolx  the problem I had was that I wanted to use an environment variable inside the sidekiq_scheduler file...
I was using ruby syntax inside the YML but you have to use their own syntax.

It is done with:
${VAR:default_value}

Then you can call it like this: ${NAME_ENV}

https://www.elastic.co/guide/en/beats/winlogbeat/current/using-environ-vars.html

[2022-02-14 21:10] #360 closed

[2022-02-15 14:35] wspurgin opened #361 "Web: Running a 2nd sidekiq process will overwrite schedule shown in Recurring Jobs tab"
I've noticed that, if one runs a 2nd sidekiq process with a separate configuration, the recurring jobs tab gets emptied out in the web extension.

**Please note** that the schedule itself with rufus still continues to operate and queue the scheduled jobs on the correct intervals.

I believe this might be the cause of #293

## Setup
Run a rails app with Sidekiq and `sidekiq-scheduler`. Mount the `S

[2022-02-15 14:45] marcelolx commented on #361
I would say that this is just not a supported feature by sidekiq-scheduler and not a bug. Why do you need to run one process with the schedule and the other one not?

[2022-02-15 14:56] wspurgin commented on #361
Hi @marcelolx 👋 Thanks for the speedy reply!

There are scenarios where, like those [hinted at](https://github.com/mperham/sidekiq/wiki/Advanced-Options) in the Sidekiq Wiki, a service or set of services might have a handful of sidekiq processes for handling different queues. Only one configuration may be the definitive source of the "schedule" and its setup.

This issue arises when those Sidekiq

[2022-02-15 15:45] marcelolx commented on #361
@wspurgin Particularly I would prefer to keep it explicit, this way who is gonna look at the config file will know that the scheduler is disabled (with dynamic schedules it would/could start disabled and then we would have to enable it when the schedule changes).

Also what I think that could help would be using https://github.com/resque/redis-namespace, this way each "schedule" would be namespace

[2022-02-15 15:55] wspurgin commented on #361
👍 Heard on the explicit enabled/disable flag. Maybe just a documentation enhancement then (again, if anything)

Namespaces would also solve this specific issue... but that would mean _all_ of Sidekiq is namespaced which might not be as desirable. Disabling is definitely the easiest thing to do.

[2022-02-15 15:59] marcelolx commented on #361
@wspurgin Documentation enhancements are welcome! If you can add the scenario described above I'll be happy to merge! (and anything else you consider valuable)

Yeah, disabling definitely is the easiest solution

[2022-02-15 17:49] wspurgin commented on #361
Thanks @marcelolx 👍 Opened #362 for it 😄 Let me know what you think.

[2022-02-21 18:59] spazer5 opened #363 "Deprecated warnings regarding redis Pipelining commands"
Getting warnings when running in conjunction with redis version 6.2. This also happened on sidekiq 6.3.1 and was fixed there [(issue)](https://github.com/mperham/sidekiq/issues/5202).

gems:
[code]

[code]

[2022-02-21 19:03] marcelolx commented on #363
Has already been fixed in https://github.com/moove-it/sidekiq-scheduler/pull/357

[2022-02-21 19:03] #363 closed

[2022-03-04 15:20] jbrodie opened #364 "CSS no longer loads on Rails app with Asset Pipeline or Webpack"
With the recent changes that were done with moving the styling to its own file, the file is not being loaded within a Rails application using asset pipeline or webpack.

<img width="1258" alt="image" src="https://user-images.githubusercontent.com/609124/156789753-08617a88-2f8c-4c03-9139-503fb547a991.png">

<img width="1058" alt="image" src="https://user-images.githubusercontent.com/609124/15678989

[2022-03-08 20:05] jasonpenny opened #365 "Unused dependencies?"
https://github.com/moove-it/sidekiq-scheduler/blob/eb013561ac1d65540296d5f69eb38142761ca058/sidekiq-scheduler.gemspec#L21-L22

`thwait` and `e2mmap` are marked as dependencies, but they don't appear to be used in this gem.

Can they be removed?

[2022-03-08 20:17] marcelolx commented on #365
hey @jasonpenny, I'll investigate, and if not used they will be removed in v4.

Thanks for your report!

[2022-03-11 03:59] Robeeerto opened #366 "Warning: Redis Pipelining commands on a Redis instance is deprecated and will be removed in Redis 5.0.0"
Ruby version: 2.7.5
Rails version:  6.1.4.7
Sidekiq version: 6.4.1

Got this warning from Redis

[code]

[2022-03-11 13:26] marcelolx commented on #366
Has already been fixed in https://github.com/moove-it/sidekiq-scheduler/pull/357

[2022-03-11 14:06] #366 closed

[2022-03-20 04:56] natematykiewicz commented on #366
@marcelolx Can you release a new version that includes this fix?

[2022-03-21 13:23] marcelolx commented on #366
I did cherry-pick that fix to the v3 branch https://github.com/moove-it/sidekiq-scheduler/tree/v3-stable, please point your Gemfile to that branch. When I have more time I'm gonna release 3.1.2

[2022-03-21 14:28] natematykiewicz commented on #366
Thanks!

[2022-03-22 08:30] RickCSong commented on #303
We encountered this issue and found that the reason this is happening is because the sidekiq_options defaults the queue to `default` if it's not overwritten.

Easy fix is to add the following line before the schedule is loaded (i.e. in `config/initializers/sidekiq.rb`)
[code]

This occurs because SidekiqScheduler attempts to infer the queue name from a job's sidekiq_options
[code]
from `lib/sideki

[2022-03-22 17:27] RickCSong commented on #303
I believe this shouldn't have other side effects (unless you're using other Sidekiq gems that read from default_worker_options) -- ActiveJob's default queue is also `default` (config.active_job.default_queue_name)!

I think adding something to handle this is better than adding the info into README (since it feels a bit jank doing this) -- I can put together a lightweight proof of concept to handle

[2022-03-22 17:38] RickCSong commented on #303
@marcelolx
https://github.com/moove-it/sidekiq-scheduler/pull/367

[2022-03-30 05:08] duderamos opened #368 "Highlight disabled jobs"
Currently the only clue to know if a job is enabled or disabled is the toggle button. In my case here, that can have 10+ jobs and different ones enabled/disabled depending on the environment, this becomes uneasy to see.

So, what if we had a different background color in on the disabled?
<img width="1200" alt="Screen Shot 2022-03-30 at 15 03 45" src="https://user-images.githubusercontent.com/15325

[2022-03-30 10:43] marcelolx commented on #303
merged and cherry-picked to v3-stable branch! Thank you @RickCSong!

[2022-03-30 10:43] #303 closed

[2022-03-30 10:48] #368 closed

[2022-03-30 10:51] marcelolx commented on #364
@jbrodie Can you please provide a sample project to make it easier for me to simulate this problem you're having? Thank you!

[2022-03-30 10:54] marcelolx commented on #359
@tianlu1677 I need more context to understand what is the problem. A sample app that reproduces the problem would be welcome

[2022-03-30 11:21] #345 closed

[2022-03-30 11:22] marcelolx commented on #345
@barrucadu I've merged #370, can you test on your end with the `master` branch if it solves the problem on your end?

[2022-03-30 12:25] marcelolx commented on #365
Hey @jasonpenny, can you test with the branch of the PR https://github.com/moove-it/sidekiq-scheduler/pull/371 to see if sidekiq-scheduler keeps working as expected?

[2022-03-30 20:28] jasonpenny commented on #365
Yes, it appears to continue working and these gems were removed from `Gemfile.lock` when I updated to that branch

[2022-03-30 20:35] marcelolx commented on #365
Nice! Thank you for testing it! ❤️

[2022-03-31 11:42] #365 closed

[2022-04-05 08:02] wscourge opened #372 "Address the Redis 5.0.0 deprecation warning"
Pipelining commands on a Redis instance is deprecated and will be removed in Redis 5.0.0.
[code]
should be replaced by
[code]
(called from /usr/local/bundle/gems/sidekiq-scheduler-3.1.1/lib/sidekiq-scheduler/redis_manager.rb:140:in `block in register_job_instance'}

[2022-04-05 13:10] marcelolx commented on #372
This issue has been created many times, I wonder why no one uses the search functionality https://github.com/moove-it/sidekiq-scheduler/issues/366, https://github.com/moove-it/sidekiq-scheduler/issues/363, https://github.com/moove-it/sidekiq-scheduler/issues/358

Has already been fixed in https://github.com/moove-it/sidekiq-scheduler/pull/357, is available in the master branch, please point it to

[2022-04-05 13:10] #372 closed

[2022-04-07 07:08] wscourge commented on #372
Thanks @marcelolx, sorry for not searching this. When can we expect the release?

[2022-04-07 10:19] marcelolx commented on #372
In a few weeks. I strongly suggest to point in your Gemfile to the master branch of sidekiq-scheduler, this way you'll will be helping with testing the changes we've made.

[2022-04-07 14:01] shayonj opened #374 "Custom rufus_scheduler_options does not take into effect during runtime when dynamic: true"
## Problem

When you set a custom option like the following for rufus scheduler, it does not take into effect during runtime.

[code]
Readme: https://github.com/moove-it/sidekiq-scheduler#notes-about-connection-pooling

## How / Why

In a rails like application, this is primarily since gems are initialized first. So `sidekiq-scheduler`'s sidekiq `startup` hook gets defined first - https://github.c

[2022-04-08 06:07] wscourge commented on #372
If you want people to test your code, I suggest you launch prereleases. I strongly doubt that any responsible person is going to deploy something you just called untested to their production environment.

My other suggestion is to release patches for small changes such as the one reported in this issue - it is pretty obvious that this single fix will not break anything.

[2022-04-08 11:35] marcelolx commented on #372
And what is the difference between a pre-release and pointing your Gemfile to the master branch (or v3-stable)? If you look at the v3-stable branch commits you will see that I have already bumped the version https://github.com/moove-it/sidekiq-scheduler/commits/v3-stable, I'm just waiting some days until I'll push the release to rubygems because I didn't have the time yet to make any tests.

If it

[2022-04-10 07:11] wscourge commented on #372
The difference is that rubygems prerelease is a common, community-recognized practice, while yours is a custom-made solution, that basically reinvents the wheel. The actual difference is in the usage of [`bundle update`](https://bundler.io/man/bundle-update.1.html) command, especially when maintaining huge a codebase.

To be clear, I'm just giving you a context of a person who uses gems **a lot**,

[2022-04-10 07:17] wscourge commented on #372
I think the main difference is in the usage of [`bundle update`](https://bundler.io/man/bundle-update.1.html) command, especially when maintaining huge a codebase - tbh I have no idea how it works with the non-usual, parametrized gem setup, and whatever makes me put more effort in the common task I simply dislike.

To be clear, I'm just giving you a context of a person who uses gems **a lot**, whi

[2022-04-17 01:21] bpo commented on #320
I think it's ok to close this one – no activity for more than a year and the API makes this use case possible.

[2022-04-17 01:26] bpo commented on #188
I think [this comment](https://github.com/moove-it/sidekiq-scheduler/issues/320#issuecomment-762676536) handles this use case (i.e. you can just run `Sidekiq.reload_schedule!` rather than serializing back and forth to YAML).

[2022-04-18 10:31] #320 closed

[2022-04-18 10:31] marcelolx commented on #320
Thanks @bpo

[2022-04-18 10:35] marcelolx commented on #372
3.2.0 released https://rubygems.org/gems/sidekiq-scheduler/versions/3.2.0, changelog https://github.com/moove-it/sidekiq-scheduler/blob/v3-stable/CHANGELOG.md

[2022-04-18 10:36] marcelolx commented on #366
3.2.0 released https://rubygems.org/gems/sidekiq-scheduler/versions/3.2.0, changelog https://github.com/moove-it/sidekiq-scheduler/blob/v3-stable/CHANGELOG.md

[2022-04-18 10:36] marcelolx commented on #363
3.2.0 released https://rubygems.org/gems/sidekiq-scheduler/versions/3.2.0, changelog https://github.com/moove-it/sidekiq-scheduler/blob/v3-stable/CHANGELOG.md

[2022-04-18 10:42] #374 closed

[2022-04-20 05:36] bpo commented on #328
@mahmoudawadeen a few questions for you:

1. Is this still an issue for you, or did you come to some sort of resolution?
2. How frequently does this happen?
3. Are you able to monitor the processing latency for the queue(s) affected over the period when this happens? (i.e. graph something like `Sidekiq::Queue.new("high").latency`)
4. Are you able to modify the job to accept and log metadata? Searc

[2022-04-21 11:23] marcelolx commented on #358
hey @andredurao, 3.2.0 has been released with the fix for this https://github.com/moove-it/sidekiq-scheduler/blob/v3-stable/CHANGELOG.md

I've also released v4.0.0.alpha1 https://github.com/moove-it/sidekiq-scheduler/blob/v4.0.0.alpha1/CHANGELOG.md to be tested by the community.

[2022-04-22 08:18] manuelmeurer commented on #364
I'm having the same problem.
@marcelolx Do you not have the problem with a default Sidekiq setup with the latest version of `sidekiq-scheduler`?

[2022-04-24 16:51] StanisLove commented on #300
@richrace @kigsmtua

Could you show the approach? The link is already dead

[2022-04-24 18:54] bpo commented on #364
I have apps using the v7 asset pipeline and one of the webpack v6 RCs. Neither had this issue with the master branch of sidekiq-scheduler. There should probably be an associated stacktrace in the Rails logs from the 500 error on the server. If so can you share? @manuelmeurer @jbrodie

[2022-04-24 19:06] manuelmeurer commented on #364
It causes a 500 because the path "/sidekiq/stylesheets/recurring_jobs.css" triggers a "ActionController::RoutingError" instead of a 404.
I'm using sidekiq-scheduler 3.1.1 on Rails 6.1 and Webpack 4.

@bpo Is the file /sidekiq/stylesheets/recurring_jobs.css successfully loaded in your apps, or does sidekiq-scheduler not try to load it?

[2022-04-24 19:13] bpo commented on #364
@manuelmeurer it gets loaded successfully via propshaft with Rails 7 and master.

[2022-04-24 20:13] manuelmeurer commented on #364
Ok, I think I found the issue. I am using Sidekiq 5 in my project, when I upgrade to Sidekiq 6, the CSS file is loaded successfully.
So I guess it's a question whether sidekiq-scheduler aims to support Sidekiq 5 as well. 😄
IMO it's not absolutely necessary.

[2022-04-25 10:35] richrace commented on #300
Blast from the past. It was something like this:

[code]

[2022-04-25 23:13] jksy opened #376 "Add a setting for when to stop the scheduler."
Hello, Thank you for making great software.

Currently, when sidekiq is stopped by TSTP, new jobs are not enqueued by sidekiq-scheduler.
I want the scheduler to enqueue even after Sidekiq receives a TSTP signal.
For example, we want to stop a job during server maintenance, but we want the enqueue itself to run.

I found the Issue. The Issue and Pull Request fixed sidekiq-scheduler stops when it re

[2022-04-26 11:30] marcelolx commented on #364
@manuelmeurer Mind testing https://github.com/moove-it/sidekiq-scheduler/pull/377? I've tested locally and now it works with both sidekiq 5 and 6.

I'll cherry-pick those changes to v3-stable once merged.

[2022-04-26 11:41] marcelolx commented on #279
@fieldse Is this still an issue?

[2022-04-26 13:47] fieldse commented on #279
Cannot confirm, sorry. abandoned the original approach using this library.

[2022-04-26 13:48] marcelolx commented on #279
No problem, I'll close it, for now, if someone else comes up with the problem we will take a look.

[2022-04-26 13:48] #279 closed

[2022-04-26 14:11] jksy commented on #376
@marcelolx
Thanks a lot for your reply.

I actually wrote the code and tried it, but you are right, I could not enqueue it successfully after receiving the `TSTP` signal.
I read the README and it already mentioned that. (Wish I had noticed that earlier)
https://github.com/moove-it/sidekiq-scheduler#notes-on-when-sidekiq-worker-is-down

It seems difficult for me to solve this problem and I will try

[2022-04-27 10:43] #364 closed

[2022-04-27 10:53] marcelolx commented on #364
v3.2.1 released https://github.com/moove-it/sidekiq-scheduler/releases/tag/v3.2.1

[2022-04-27 11:16] manuelmeurer commented on #364
@marcelolx Sorry, I didn't get around to testing #377 yet... would that still be useful or did you manage to test it yourself?

[2022-04-27 13:08] marcelolx commented on #364
@manuelmeurer Yes I did test it; I had already tested it before I asked you to test it, I just did want to make sure it would be fixed for you too, but no worries, I'm sure if something got broken someone will open a new issue!

Thank you all!

[2022-04-28 03:06] #356 closed

[2022-04-28 20:54] marcelolx commented on #332
ok I think one solution for those problems will be to use a Redis based Lock instead of rufus-scheduler default filelock

https://github.com/jmettraux/rufus-scheduler#advanced-lock-schemes

This would allow us to use something like https://github.com/kenn/redis-mutex to create a single lock to all schedulers running on different hosts which would ensure that only one scheduler would be able to sch

[2022-05-01 18:07] bpo commented on #332
@marcelolx this seems like a tricky thing for sidekiq-scheduler to handle well, as it's still always possible for the app to enqueue jobs externally from the scheduler.

[2022-05-02 13:28] marcelolx commented on #332
@bpo Could you exemplify?

[2022-05-02 13:51] bpo commented on #332
I think there may be 3 issues here:

A) Sidekiq-scheduler can enqueue a job when it's already running
B) Sidekiq can enqueue a job when it's already running
C) Sidekiq can start running a job when it's already started

The initial description of the issue here is all 3 of those: The overall system has performance problems because two copies of a job are running at once (C), caused by Sidekiq enque

[2022-05-02 14:07] marcelolx commented on #332
got it @bpo, that makes sense! I agree that adding too much complexity is not a path we want to follow and yeah, what I am looking for is to solve A, just to avoid sidekiq-scheduler enqueue the same job when running on multiple hosts.

[2022-05-09 06:49] vipulvkp opened #378 "Read cron value from a Setting or a RAILS variable"
I have a configuration as below in `config/sidekiq.yml.erb`
[code]

Now I want the value of every key should change based on the environment.  I have defined a variable like this `Settings.do_some_work_polling_interval: 1h` under `config/settings/development.yml` and trying to use this

[code]

 But while starting sidekiq, it gives an error : not a duration "Settings.do_some_work_polling_interval"

[2022-05-09 10:30] marcelolx commented on #378
if you do something like
[code]
does it work?

If you put it just a string it won't be evaluated, it needs to be in `<%= %>` to be evaluated, it's not even something related to sidekiq

[2022-05-09 20:44] exocode opened #379 "Scheduler defined as cron: not executed immediately when fired in UI"
I hope the title describes it, is this behaviour intentional?

Cron with `every: 1 minute` is fired immediately and crons on sundays are not?

Maybe I understand it incorrectly: manually clicking crons in UI are there to force fire them immediately?

https://user-images.githubusercontent.com/1597621/167494571-c33c9611-2b6c-4a10-bfb3-f596d8b02737.mov

this is my schedule:

[code]

and that are my s

[2022-05-10 13:19] marcelolx commented on #379
Are you running sidekiq? When you click on the "enqueue now" button in the UI sidekiq-scheduler does put the job in the queue but sidekiq still needs to be running to process them

[2022-05-16 07:48] exocode commented on #379
yes, as you can see in the video, jobs are processed successfully only the ones defined in format like "1.minute"...
"cronjob"-like defined jobs are not running

[2022-05-25 18:05] t27duck commented on #379
I made a minimal repo trying to reproduce what was described and couldn't.

https://github.com/t27duck/sidekiq_scheduler_379_test

Rails app without the need of a database. Latest sidekiq and sidekiq-scheduler installed.

`sidekiq.yml` defines two jobs on a schedule. One for every minute via the `every:` option and one for every 5 minutes with the `cron:` option.

1. Clone and `bundle install`
2.

[2022-05-25 18:28] #379 closed

[2022-06-05 13:51] x9sim9 opened #380 "Log control"
Hi I am finding the sidekiq logs flooded with
`INFO: queueing `
log entries, I have tasks that run every few seconds and want to exclude these from the logs but show all the other tasks.

Silencing these tasks is as easy as adding
`sidekiq_options log_level: :warn`

But i am still seeing thousands of
`INFO: queueing `
is there any way to silence these?

thanks,
Simon

[2022-06-07 16:46] kapso opened #381 "Sidekiq 6.5.0 upgrade is breaking this gem"
Please see this comment - https://github.com/mperham/sidekiq/issues/5372#issuecomment-1148916402

Error
[code]

[2022-06-07 17:11] marcelolx commented on #381
@kapso I'll take a look, I think we require this file to use `Sidekiq.logger` but it may not be necessary

[2022-06-07 20:29] ghepting commented on #381
+1 to getting a patch out to be compatible with 6.5.0

[2022-06-08 10:26] mihaic195 commented on #381
Could that be enough? https://github.com/moove-it/sidekiq-scheduler/pull/382

[2022-06-08 10:56] marcelolx commented on #381
Thanks for the PR @mihaic195! I'll test your changes and let you know, but I believe that yes, it should be enough!

[2022-06-08 11:04] #381 closed

[2022-06-08 11:08] marcelolx commented on #381
sidekiq-scheduler 4.0.1 released! https://rubygems.org/gems/sidekiq-scheduler/versions/4.0.1

[2022-06-08 11:08] marcelolx commented on #381
Let me know in case this breaks something

[2022-06-08 11:20] marcelolx commented on #378
@vipulvkp did the suggestion work?

[2022-06-08 14:53] tagliala opened #384 "`config.options[:key] =` is deprecated on Sidekiq 6.5.0"
Hi,

I'm getting a deprecation message when using sidekiq-scheduler 4.0.1 with Sidekiq 6.5.0:

[code]

Ref: mperham/sidekiq@67daa7a408b214d593100f782271ed108686c147

[2022-06-10 07:21] couquino commented on #384
Hello, I'm getting the same here.

sidekiq-scheduler 4.0.1 with Sidekiq 6.5.0 too.

[2022-06-10 07:53] cristofer commented on #381
@marcelolx with the new version we are still getting the `sidekiq/util` error, here is the trace in our CI for `
Build(deps): Bump sidekiq-scheduler from 4.0.0 to 4.0.1`, any tips? thank you! :

[code]

[2022-06-10 08:05] mihaic195 commented on #381
@cristofer
Interesting. I did the exact same bump and everything works fine on 4.0.1 (which was not the case in 4.0.0).  Is your Gemfile.lock updated?

[2022-06-10 08:10] cristofer commented on #381
hey @mihaic195! yes, it is updated:

[code]

[2022-06-10 13:05] marcelolx commented on #384
@couquino I'm aware of it, once I have time I'll work on a fix; Please be patient.

[2022-06-10 13:06] couquino commented on #384
No problem at all ! It doesn't block anything for our app ;) Good luck fixing it

[2022-06-10 13:07] marcelolx commented on #381
@cristofer stop spring please and try again.

Also, I don't see any mention to sidekiq-scheduler in the stack trace which means that it can be another gem that is causing it

[2022-06-10 17:33] wflanagan commented on #384
FYI, it is for me. had to revert sidekiq to get this working.

[2022-06-10 20:12] tagliala commented on #384
I've tried to take a look because I wanted to submit a PR.

As far as I can tell, this is not a trivial change, especially if backward compatibility should be preserved.

Also, specs does not cover the configuration :\

[2022-06-10 21:24] t27duck commented on #384
I took a swing at it at https://github.com/moove-it/sidekiq-scheduler/pull/385 (comments include an example repo that appears to show it works?)

[2022-06-13 07:13] Galathius opened #386 "Potential database connections leaks from pool with Sidekiq.transactional_push!"
Please check these issues:
- https://github.com/Envek/after_commit_everywhere/issues/20
- https://github.com/mperham/sidekiq/issues/5385

Probably, would be better to adjust `sidekiq-scheduler` for pushing jobs within a **Rails Executor**.

[2022-06-13 12:28] marcelolx commented on #386
Interesting! I'll take a look into it @Galathius once I have some free time, thanks for the report!

[2022-06-15 12:36] #384 closed

[2022-06-16 02:19] softwaregravy opened #387 "Advice: Scheduling with intervals"
Hi all.

Thank you for the work you put in to this gem. I appreciate it.

I wanted to make sure I had grokked all the docs correctly. I'm was hoping someone very familiar could tell me if I'm approaching this the best way.

1. I want to schedule jobs that run on regular cadence. Every X seconds or Y minutes. These are quick job which I want to run often.
2. The jobs are idempotent and fault tolera

[2022-06-16 15:01] softwaregravy commented on #387
Thank yo very much for getting back to me so quickly.

I will have lots of workers. I also trimmed my Procfile for this, I have a couple of other types of workers as well. We're architected to scale mostly linearly with workers. (meaning, as we scale, we can add workers and we will maintain overall latency.)

I'm assuming that a heroku dyno counts as a host in this context. So having 10 worker dyn

[2022-06-16 15:24] marcelolx commented on #387
Exactly

I was going to mention this before, but yes, it can be a regular worker; I don't see any need to limit it to a single thread

I would suggest testing this approach, if you have success and don't see any problem, a PR improving the readme is more than welcome! We can keep this issue open until then

[2022-06-16 15:33] softwaregravy commented on #387
Great. I'll plan to check back in early next week (~June 2nd). If everything is smooth, I will see about converting this into the readme.

[2022-07-01 10:44] marcelolx commented on #387
Just a note @softwaregravy, keep an eye on https://github.com/sidekiq-scheduler/sidekiq-scheduler/issues/332, I'm working on introducing a different Locking strategy so we can run sidekiq-scheduler in multiple hosts without have to worry about the same job be scheduled by multiple hosts

[2022-07-01 11:20] marcelolx commented on #386
Hey @Galathius, I don't think `sidekiq-scheduler` might be causing this leak because it just pushes the jobs to Redis, who definitely runs the Job is Sidekiq which runs it within the Executor.

I see that https://github.com/Envek/after_commit_everywhere/issues/20 had some updates after this issue was created, do you still see connections being leaked?

[2022-07-01 11:23] marcelolx commented on #386
Anyway I'll be working to enqueue the jobs within a Executor when it is running on a Rails app

[2022-07-04 07:39] Galathius commented on #386
Hi! Now, with the latest fix for `after_commit_everywhere` gem, connections are not leaking anymore.

[2022-07-21 12:55] MuhammadRazaAslam opened #393 "Broken UI in version 4.0.2"
Hi,

I upgraded from version `3.0.2` to `4.0.2`. Now, Recurring Job page UI is broken in the `4.0.2` version.

<img width="1792" alt="Screenshot 2022-07-21 at 5 50 44 PM" src="https://user-images.githubusercontent.com/19810462/180217868-5f1325aa-bcd5-4adb-9d5e-fa0499a0a05e.png">

[2022-07-21 13:26] marcelolx commented on #393
which version of sidekiq are you using?

[2022-07-21 13:27] marcelolx commented on #393
also, are you using webpacker, sprockets? It would be ideal if you could provide a sample app so we can reproduce your problem

We had a recent issue related to this https://github.com/sidekiq-scheduler/sidekiq-scheduler/issues/364 but it should be fixed

[2022-07-21 13:51] MuhammadRazaAslam commented on #393
@marcelolx My sidekiq version **6.1.3**.

[2022-07-21 15:59] marcelolx commented on #393
Can you please provide a sample app? My local sample app with sidekiq 6 + sidekiq-scheduler 4.0.2 I don't get this error

[2022-07-23 05:31] houdl commented on #393
@MuhammadRazaAslam  @marcelolx
this pull request may solve this bug
https://github.com/sidekiq-scheduler/sidekiq-scheduler/pull/394

[2022-07-23 09:36] marcelolx commented on #393
Thanks @houdl! PR merged, can you point you gemfile to the master branch and see if it is fixed @MuhammadRazaAslam?

[2022-07-23 09:43] #387 closed

[2022-07-23 09:43] #393 closed

[2022-07-23 09:44] #359 closed

[2022-07-23 09:59] houdl commented on #393
@marcelolx   it was merged branch  v3-stable , you may need check pick it to master.

[2022-07-23 10:09] houdl commented on #393
@marcelolx   pull request for master  https://github.com/sidekiq-scheduler/sidekiq-scheduler/pull/395

[2022-07-23 10:37] marcelolx commented on #393
oh 🤦‍♂️ PR merged!

[2022-07-26 12:06] iamdeuterium opened #397 "Add the ability to enable or disable all jobs in UI with one click"
Now enabling or disabling all recurring jobs in UI does not hurt in development.
![Screenshot_20220726_144408](https://user-images.githubusercontent.com/451401/180998107-7d84ad54-af8d-4509-8367-5431a5f9b362.png)

[2022-07-26 12:08] iamdeuterium commented on #397
#397

[2022-07-26 12:09] iamdeuterium commented on #397
Pull request #398

[2022-07-26 12:17] #397 closed

[2022-08-10 15:57] beltrachi opened #399 "Redis pool size is not correct by default"
Hi,

checking the README, it states that [there is nothing to do](https://github.com/sidekiq-scheduler/sidekiq-scheduler#notes-about-connection-pooling) if you are not configuring your own redis pool on Sidekiq.

Sidekiq by default has a concurrency of 10, so it [creates a pool of 10 + 5  = 15](https://github.com/mperham/sidekiq/blob/main/lib/sidekiq/redis_connection.rb#L95) which is not enough, r

[2022-08-12 12:29] eldemcan commented on #332
I would like to share one of our solution to this problem, (we ended up with different solution because we have a lot of dynamically scheduled tasks)

[code]

This will make sure only one host can schedule. Each host needs to create a thread to check if `rufus:trigger`  is still set in redis and if not they can declare themselves as scheduler host if others haven't done that yet. Hope this helps.

[2022-08-12 13:28] marcelolx commented on #332
@eldemcan You don't have to patch sidekiq-scheduler, it is just a matter of passing the `scheduler_lock` to the `rufus_scheduler_options`, no?

One question, what your team wants is a single scheduler running, right?

BTW, what happens if your server crashes and `remove_instance_from_queue` is not called to remove the lock? In the next deployment no server will be able to set up the scheduler, rig

[2022-08-13 15:24] eldemcan commented on #332
How can I pass options to rufus_scheduler instance inside  SidekiqScheduler:Scheduler?   `SidekiqScheduler:Scheduler` seems to be getting its options from yaml. Let me know if I am overlooking something

  We want one instance to be able to schedule at a time but if that instance goes away another instance should be able to take that role.

Key will expire in 5 min. (this could be shorter) So if r

[2022-08-15 13:04] marcelolx commented on #332
Doesn't this work? ⬇️
[code]

Then I think that you want to pass along a `trigger_lock` strategy, no? https://github.com/jmettraux/rufus-scheduler#trigger_lock
From the description of the `scheduler_lock`

while the trigger_lock

So I think that what you're looking for is a trigger lock and not a scheduler lock....

🤦‍♂️ Didn't see the expire!

[2022-08-16 08:37] eldemcan commented on #332
@marcelolx thanks for engagement,

It doesn't work because `yml` is loaded before the class itself so it throws undefined class error, maybe there is a trick to overcome this problem.

We tried `trigger_lock` as well but because of https://github.com/jmettraux/rufus-scheduler/issues/130 there were jobs duplicated. (we believe)

[2022-08-16 12:51] marcelolx commented on #332
Thanks for the feedback @eldemcan, I'll keep an eye on that issue.

And once I work on supporting a redis lock strategy I'll see if we can allow users to set a trigger_lock/scheduler_lock without having to patch sidekiq-scheduler!

[2022-08-23 00:04] TALlama opened #400 "Allow for multiple applications to share a Redis DB"
I have multiple applications that need to share a single Redis DB but have different scheduled jobs. The current codebase does not allow for this; the applications will all use the same keys and overwrite each other.

Currently, the Redis keys are static and unchangeable. Since they are referenced in a variety of locations (though some are centralized in `RedisManager`), a monkey patch to enable t

[2022-08-23 21:38] craigmcn opened #402 "When `include_metadata: true`, `Sidekiq.strict_args!` fails with "Job arguments must be native JSON types""
I'm getting a Sidekiq error message "Job arguments must be native JSON types" when I include the `include_metadata: true` option in my schedule. The specific error is:
"ArgumentError: Job arguments to Actions::System::DestroyOldUserSessions must be native JSON types, see https://github.com/mperham/sidekiq/wiki/Best-Practices.
To disable this error, remove `Sidekiq.strict_args!` from your initializ

[2022-09-08 16:19] marcelolx commented on #402
Fixed on #403

[2022-09-08 16:19] #402 closed

[2022-09-08 16:19] marcelolx commented on #400
Fixed in #401

[2022-09-09 23:36] benbws opened #405 "Possible issue with a rails app in docker using sidekiq-scheduler"
I'm getting an odd error when running a fairly standard Rails app within a docker container:

[code]

The app deploys to Heroku without any issue and all the scheduled tasks set up without issue and execute without issue. I can also run the app on my Windows host machine which has Ubuntu/Ruby/etc set up via WSL - again literally no issues with sidekiq or sidekiq-scheduler.

However, as soon as the

[2022-09-12 13:56] marcelolx commented on #405
I think this PR fixes your problem https://github.com/sidekiq-scheduler/sidekiq-scheduler/pull/404 (at least seems related with Redis 5)

Try to point sidekiq-scheduler in your Gemfile to the master branch, just to see if it keeps happening

[2022-09-12 18:11] dmill commented on #74
`Sidekiq::Scheduler.load_schedule!` still works when this issue occurs. Just upgraded to a multi-host setup which I assumed caused this to start happening to me. Thank you!

[2022-09-12 18:11] dmill commented on #293
FYI - if this occurs to anyone else still, this just happened to me and the fix [in here](https://github.com/sidekiq-scheduler/sidekiq-scheduler/issues/74) works.

[2022-09-15 16:48] benbws commented on #405
It does indeed fix the error, thanks for your help.

[2022-09-15 16:48] #405 closed

[2022-09-15 20:23] tfader opened #406 "error on starting sidekiq 6.5.5 and sidekiq-scheduler 4.0.2"
Full stack:
2022-09-15T20:22:19.432Z pid=12043 tid=c9j INFO: Scheduling ClearBlockadesJob {"cron"=>"10 * * * * Europe/Warsaw", "class"=>"ClearBlockadesJob"}
2022-09-15T20:22:19.436Z pid=12043 tid=c9j WARN: {"context":"Exception during Sidekiq lifecycle event.","event":"startup"}
2022-09-15T20:22:19.436Z pid=12043 tid=c9j WARN: TypeError: Unsupported command argument type: EtOrbi::EoTime
2022-09-15

[2022-09-15 20:25] tfader commented on #406
works with sidekiq 6.5.6

[2022-09-15 20:25] #406 closed

[2022-09-21 13:09] swilgosz opened #407 "Scheduler uses Activesupport::Inflector#constantize without having dependency set in gemspec"
### Background

One of our teammates (@andrebalazs55) found that `sidekiq-scheduler` uses the `#constantize` method called on a string, which [comes from activesupport](https://apidock.com/rails/v6.1.3.1/ActiveSupport/Inflector/constantize). However, activesupport is not listed as a dependency in the gemspec file.

This causes issues in non-rails applications, which don't have activesupport in use

[2022-09-22 14:00] #407 closed

[2022-09-26 20:23] #378 closed

[2022-10-09 15:07] bibendi commented on #332
I've made one for myself. You may be interested :)
https://github.com/bibendi/schked/pull/31/files

[2022-10-14 10:15] aglushkov opened #409 "Sidekiq 7.0 support?"
I have this error when after upgrading sidekiq to 7.0
[code]

Backtrace
[code]

[2022-10-14 14:43] marcelolx commented on #409
Yeah, no support yet... We probably will have to make some core changes to support sidekiq 7

[2022-10-27 17:26] OskarEichler commented on #409
That would be highly appreciated now that Sidekiq 7 has officially been released! 🙏🏼

[2022-10-29 15:44] t27duck commented on #409
I have a very hacky-but-appears-to-function branch that (with a minimal Rails 7 app + sidekiq 7) appears to run the scheduler as expected (at least for my use cases).

https://github.com/t27duck/sidekiq-scheduler/tree/sidekiq7

Specs are blowing up and not 100% happy with the hack on top of the previous hack I did to work around Sidekiq's internals changes, but this is at least a starting point.

[2022-10-31 11:05] marcelolx commented on #409
@t27duck a PR is more than welcome, we can iterate on top of it. I'm short on time so any help/progress is appreciated!

[2022-10-31 15:06] shayonj commented on #409
Happy to attempt at a PR too if any further bandwidth is needed @t27duck @marcelolx

[2022-11-01 21:40] t27duck commented on #409
I went and made a PR based on my branch. Obviously, things are still broken in CI.

Day job is a bit hectic for the start of my week, but later on I should be able to take a stab at making it better.

Probably worth moving discussion into that for PR for now?

[2022-11-02 10:21] marcelolx commented on #409
Definitely @t27duck, and thanks for coming up with a PR!

[2022-11-03 16:29] ryansdwilson commented on #409
Thank you so much for your work on this!

[2022-11-04 10:31] marcelolx commented on #409
hey everyone, @t27duck has done an amazing job with the PR and we have already merged it. Although, we won't cut a release yet because we're working on a refactor to make some things simpler and less painful to deal with (for supporting different Sidekiq versions), if you'll want to keep an eye on it or have suggestions, feel free to comment on https://github.com/sidekiq-scheduler/sidekiq-schedule

[2022-11-23 22:34] ibrahima commented on #361
Hmm, quick question: the key is `:enabled:` at the root level, right? Would it make more sense to have it under the `:schedule:` key or something?

Also, would you run into this issue if using a different file for the schedule? I'm thinking not since in that case each process would load it from the same file, but wanted to double-check. https://github.com/sidekiq-scheduler/sidekiq-scheduler#load-t

[2022-11-24 12:26] marcelolx commented on #361
@ibrahima Yes, it is at the root level. In this PR https://github.com/sidekiq-scheduler/sidekiq-scheduler/pull/412 we're going to move it to the `scheduler` key, which still is kind of root level. Moving under the `schedule` config doesn't "solves" the problem, since you still have to define it, right? I think what was expected was sidekiq-scheduler being disabled if no `schedules` key is present,